.result{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result__score{
    text-transform: uppercase;
    margin: 1rem;
}

.result__questions{
    margin: 1rem;
    box-shadow: 0 0 2px 1px var(--shadow-color);
    padding: 1rem;
}

.result__answer{
    font-size: 1.3rem;
    margin: 5px;
    text-transform: capitalize;
}

.result__exit{
    border: none;
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 5rem;
    padding: 4px 1rem;
    cursor: pointer;
}